---
---

@import "{{ site.theme }}";

body {font-size: 20px; line-height: 1.4}
#header {display: none;}
#title p {display: none;}
hr {display: none;}
.credits {display: none;}
h1, h2, h3 {margin-top: 3rem; line-height: 1.4; font-size: 30px; font-weight: bold;}
section #title h1 {line-height: 1.8; font-size: 36px; margin-top: 0px;}
section img {width: 200%; max-width: 200%; margin-left: -50%; padding: 2rem;}
section img[src~='logo'] {max-width: 30%; display: block; margin: 0 auto;}
em a:hover,
em a:active,
em a:visited,
em a {
	font-style: normal;
	font-weight: 700;
	display: block;
	background: yellow;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 1em;
	color: #252525;
}

@media print, screen and (max-width: 1444px) {
	section img {width: 83vw; max-width: 83vw; margin-left: -14vw; padding: 2rem 0;}
}
@media print, screen and (max-width: 885px) {
	section img {width: 100%; max-width: 100%; margin: 0; padding: 1.5rem 0;}
}
